/*  General Styles */

/* border-box ensures the browser reads borders, margin, and padding correctly */
* {
  box-sizing: border-box;
}

/* Margin and padding actually aren't 0 by default */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Frame and Background */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  /* Declaring left/right/top/bottom at 0 tells the element to take up all available space in the parent */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.frame {
  /* Small note: these px values were selected to match the exact size of the assets.
    This is not a responsive design. */
  height: 762px;
  width: 762px;
  position: relative;
}

.inner {
  position: relative;
}

.game {
  width: 628px;
  height: 577px;
  position: absolute;
  top: 62px;
  left: 67px;
}

.game.night {
  width: 716px;
  top: 62px;
  left: -19px;
}

.hidden {
  display: none;
}

/* Buttons */

.buttons {
  position: absolute;
  top: 674px;
  left: 266px;
  height: 71px;
  width: 228px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons {
  position: absolute;
  top: 572px;
  left: 194px;
  height: 67px;
  width: 374px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Poop Bag */

.poop-bag {
  position: absolute;
  top: 200px;
  left: 160px;
}

/* Upper Text Modal */
.modal-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: orangered;
  color: white;
  padding: 25px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 12px;
}

.modal:empty {
  display: none;
}

.modal-inner:empty {
  display: none;
}

/* Fox */
/* As Brian notes, these values are for the position of the fox sprite
based on what's happening in the moment. This could be made a little more
DRY, but isn't necessary for the purposes of the course. */

.fox {
  position: absolute;
  top: 336px;
  left: 285px;
  overflow: hidden;
}

.fox-pooping {
  top: 319px;
  left: 159px;
}

.fox-celebrate {
  top: 290px;
  left: 290px;
}

.fox-rain {
  top: 362px;
}

.fox-hungry {
  top: 362px;
}

.fox-eating {
  top: 362px;
}

.fox-egg {
  top: 289px;
  left: 248px;
}

.fox-sleep {
  top: 351px;
  left: 445px;
}

.fox-dead {
  top: 380px;
  left: 243px;
}
